.container{
    padding: 3em 7em 0 7em;
}

.containertwo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15em;
}

.spanstyle{
    font-weight: bold;
    font-size: 4rem;
    text-align: left;
    width: 50%;
}

